extends base_email

block content
  p Olá #{firstName},
  p Você solicitou uma nova senha de acesso ao Cesta Solidária.
  p Utilize o código abaixo no aplicativo para confirmar a mudança de senha.

  p #{url}
  
  p Caso não tenha sido você, ignore este email.
